.dashboard {
  .row {
    background: white;
    border-radius: 5px;
    padding: 15px 10px;
    .summary-card, .column-chart, .donut-chart {
      padding: 10px;
    }
    .summary-card:hover {
      padding-top: 3px;
      transition: 0.3s all;
      cursor: pointer;
    }
    .column-chart, .donut-chart {
      header {
        font-family: poppins-bold;
        font-size: 24px;
        margin-bottom: 16px;
      }
    }
  }
}
