<p>demo-items works!</p>
<div class="demo-items">
  <section class="mb-16">
    <header class="component-header">Demo Item Type - 1</header>
    <div class="k-d-grid k-grid-cols-12">
      <div class="card" *ngFor="let article of demoItemsService.articles"
        [ngClass]="appResponsiveService.isMobile() ? 'k-colspan-12' : appResponsiveService.isTabVertical() ? 'k-colspan-6' : 'k-colspan-4'">
        <app-card-article [article]="article"></app-card-article>
      </div>
    </div>
  </section>
</div>
