<kendo-appbar [position]="'top'" class="k-d-grid k-grid-cols-12">
  <kendo-appbar-section>
    <button class="k-icon k-i-menu" (click)="toggleDrawerEmitter.emit()"></button>
  </kendo-appbar-section>
  <kendo-appbar-section *ngIf="appResponsiveService.isTabHorizontal()">
    <div class="logo">
      <span>D</span>emo
    </div>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
      <kendo-avatar class="k-icon k-i-user" [shape]="'circle'" [width]="'26px'" [height]="'26px'"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>
