@font-face {
  font-family: poppins-regular;
  src: url(../fonts/poppins/Poppins-Regular.ttf) format("opentype");
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/poppins/Poppins-Bold.ttf) format("opentype");
}

@font-face {
  font-family: poppins-extra-bold;
  src: url(../fonts/poppins/Poppins-ExtraBold.ttf) format("opentype");
}
