@import '../styles/variables.scss';

* {
  font-family: poppins-regular;
}

body {
  margin: 0;
}

.logo {
  font-family: poppins-extra-bold;
  font-size: 30px;
  color: black;
  span {
    font-family: poppins-extra-bold;
    color: $theme-color-1;
  }
}

.line-with-link {
  font-size: 13px;
  span {
    color: $background-button-primary;
    color: blueviolet;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text-center {
  text-align: center !important;
}

.d-inline-block {
  display: inline-block !important;
}

.component-header {
  font-family: poppins-bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.disable-element {
  pointer-events: none;
  opacity: 0.4;
}
