@import '../../../../assets/styles/variables.scss';

.block {
  padding: 15px;
  border-radius: 5px;
  color: white;
  header {
    .title {
      margin-top: 13px;
      font-size: 15px;
    }
    .icon {
      height: 65px;
      width: 65px;
      border-radius: 50%;
      background: white;
      i {
        margin: 16px 15px;
        font-size: 35px;
      }
    }
  }
  main {
    font-family: poppins-bold;
    font-size: 30px;
    color: black;
  }
  footer {
    font-size: 13px;
  }
}
